# ── Database ─────────────────────────────────────────────────────────────────
DB_USER=airflow
DB_PASS=airflow
DB_HOST=localhost
DB_PORT=5435
DB_NAME=web_and_app_db

# ── AI Module ────────────────────────────────────────────────────────────────
KAGGLE_API_URL=https://accounts-mixed-defensive-welding.trycloudflare.com/generate_docstring

# ── Optional ─────────────────────────────────────────────────────────────────
# GITHUB_TOKEN=ghp_xxx
# GEMINI_API_KEY=xxx

GROQ_API_KEY=nhap_key_cua_ban_vao_day